In [16]:
import pandas as pd
import numpy as np

## 探索Chipotle快餐数据

In [2]:
data_path = './exercise_data/'

In [3]:
chipotle_csv = pd.read_csv(data_path+'chipotle.tsv', sep='\t')    # tsv文件的分隔符是\t
chipotle_csv

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
chipotle_csv.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipotle_csv.shape

(4622, 5)

In [6]:
chipotle_csv.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
chipotle_csv

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

被下单最多的商品

In [8]:
c = chipotle_csv[['item_name', 'quantity']].groupby('item_name', as_index=False).agg({'quantity': 'sum'})
c.sort_values(['quantity'], ascending=False, inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [9]:
chipotle_csv['item_name'].nunique()    # Count distinct observations over requested axis

50

## 3、数据分组

In [10]:
data_path = './exercise_data/drinks.csv'

In [12]:
data_csv = pd.read_csv(data_path)
data_csv

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [13]:
data_csv.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [15]:
data_csv.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

## 4、apply函数

In [17]:
data_path = './exercise_data/US_Crime_Rates_1960_2014.csv'

In [18]:
crime = pd.read_csv(data_path)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [19]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

由于year的类型是int64,可以把时间转换成datetime64类型

In [20]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.3 KB

In [22]:
crime.describe()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
count,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,55.000000,55.000000,55.000000,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01
mean,2.461556e+08,1.060315e+07,1.188806e+06,9.412499e+06,17317.236364,72714.800000,416449.890909,6.811818e+05,2.424017e+06,5.959947e+06,1.028614e+06
std,4.166216e+07,3.175931e+06,4.597107e+05,2.738512e+06,4267.442664,28278.006893,150506.403782,2.960255e+05,7.259004e+05,1.846401e+06,3.455693e+05
min,1.793232e+08,3.384200e+06,2.884600e+05,3.095700e+06,8530.000000,17190.000000,106670.000000,1.543200e+05,9.121000e+05,1.855400e+06,3.282000e+05
25%,2.106215e+08,9.096958e+06,9.253150e+05,8.060014e+06,14819.000000,53400.000000,354911.500000,4.384300e+05,2.105336e+06,4.843350e+06,7.896260e+05
50%,2.422829e+08,1.140151e+07,1.322390e+06,1.018259e+07,17030.000000,84230.000000,423557.000000,7.412910e+05,2.329950e+06,6.591900e+06,1.032200e+06
75%,2.833697e+08,1.308449e+07,1.432762e+06,1.160509e+07,20561.500000,92930.000000,512137.000000,9.002150e+05,3.073600e+06,7.168450e+06,1.239302e+06
max,3.188571e+08,1.487290e+07,1.932270e+06,1.296110e+07,24700.000000,109060.000000,687730.000000,1.135610e+06,3.795200e+06,8.142200e+06,1.661700e+06

将Year设置为索引

In [23]:
crime = crime.set_index('Year', drop=True)
crime

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971-01-01,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972-01-01,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973-01-01,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974-01-01,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975-01-01,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976-01-01,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977-01-01,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978-01-01,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979-01-01,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981-01-01,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982-01-01,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983-01-01,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984-01-01,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985-01-01,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986-01-01,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987-01-01,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988-01-01,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989-01-01,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990-01-01,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991-01-01,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992-01-01,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993-01-01,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994-01-01,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995-01-01,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996-01-01,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997-01-01,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998-01-01,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999-01-01,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000-01-01,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001-01-01,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002-01-01,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003-01-01,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004-01-01,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005-01-01,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527